.sidenav-container {
  height: 100%;

  .profile-card {
    text-align: center;
    padding: 20px;
    img {
      width: 80px;
      object-fit: cover;
      border-radius: 50%;
    }
    h3 {
      font-size: 20px;
      margin: 5px 0;
    }
    h5 {
      font-size: 15px;
      margin: 5px 0;
    }
  }

  mat-toolbar img {
    width: 160px;
    text-align: center;
    display: flex;
    margin: auto;
  }

  .List-item-active {
    background-color: #0e2b5c;
    color: white;
  }

  .sidenav {
    width: 200px;
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
}
