<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-nav-list>
      <mat-toolbar><img src="../../../assets/cimg/logo.png"></mat-toolbar>
      <div class="profile-card">
        <div class="header">
          <h3>NAVEED AHEER</h3>
          <h5>Example@gmail.com</h5>
        </div>
        <img src="../../../assets/cimg/user-avatar-1.png">
      </div>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Dashboard</a>
      <a mat-list-item routerLinkActive="" routerLink="/dashboard/site">Sites</a>
      <a mat-list-item routerLinkActive="" routerLink="/dashboard/labour">Labour</a>
      <a mat-list-item routerLinkActive="" routerLink="/">Expenses</a>
      <a mat-list-item routerLinkActive="" routerLink="/">Material</a>
      <mat-divider></mat-divider>
    </mat-nav-list>

  </mat-sidenav>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" mat-icon-button
        class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>

      <span>labour-app</span>
      <span class="example-spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/cimg/user-avatar-1.png"
          style="width: 40px;"></button> -->

      <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="Logout" *ngIf="this.router.url.includes[('dashboard')]">Logout</button>
      </mat-menu> --> 
    <!-- Add Content Here -->
<!-- </mat-sidenav-container> -->