.add-sites{
    

    h1 span{
        float: right;
        background-color: #0E2B5C;
        color: white;
        border-radius: 50%;
        font-size: 17px;
        padding: 3px;
        cursor: pointer;
    }
}
.example-full-width{
    width: 100%;
  
}